@model List<EsinavUygulamasi.DAL.Models.Database.Topic>
@{
    ViewData["Title"] = "DeleteTopic";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayouth.cshtml";
}
<div class="container p-5">
    @foreach (var item in Model)
    {
        <dl class="row borde">
            <dt class="col-2">
                <label>Konu Id:</label>
            </dt>
            <dd class="col-10">

                <label>@item.Id</label>
            </dd>
            <dt class="col-2">
                <label>Konu Başlığı:</label>
            </dt>
            <dd class="col-10">

                <label>@item.Name</label>
            </dd>
            <dt class="col-2">
                <label>Kayıt Oluşturma Zamanı:</label>
            </dt>
            <dd class="col-10">

                <label>@item.CreateTime</label>
            </dd>
            <dt class="col-2">
                <label>En son Güncelleme zamanı:</label>
            </dt>
            <dd class="col-10">

                <label>@item.LastUpdateTime</label>
            </dd>
        </dl>
    }

    <form asp-action="/Institution/DeleteInstitution" method="post">
        <input type="hidden"  />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a href="/Admin/Topic/Index">Back to List</a>
    </form>
</div>


