					<span class="mx-sm-4 mx-md-2  mx-1" >
						<a href="/Login/Login" style="color:black;">
							<i class="fas fa-lock"></i> Giriş yap</a>
					</span>
					<span>
						<a href="/User/UserAdd" style="color:black;">
							<i class="far fa-user"></i> Kayıt ol</a>
					</span>
				
